.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "income expense"
    "saving blance";
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.income-container {
  grid-area: income;
  margin: 20px;
}

.expense-container {
  grid-area: expense;
  margin: 20px;
}

.balance-container {
  grid-area: blance;
  margin: 20px;
}

.saving-container {
  grid-area: saving;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
